h3, h5  {
    color: white;
}

.location-map {
    text-decoration: none;
}

.address:hover {
    color: blue;
}

.link {
    transition: transform .2s;
}
.link:hover {
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
    
}

.contact-box {
    box-shadow:   5px 5px  8px black;
}

p {
    color: black;
    font-weight: bold;
}