.container {
    position: relative;
    margin: auto;
    padding:  0px 0px 0px 0px;
    width: '100%';
  }

  .text-block {
    font-family: 'monospace';
    font-weight: 'bold';
  position: absolute;
  bottom: 0px;
  right: 300px;
  background-color: white;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  padding: 20px;
  box-shadow:   5px 5px  8px black;
  /* box-shadow: 3px 3px 5px black, -3px -3px 5px black */
}



p {
    color: black;
    font-weight: bold;
}