.connect-button {
  padding: 15px 10px 15px 10px;
  font-weight: bold;
  border-radius: 40px;
  color: white;
  background-color: black;
  text-decoration: none;
  text-align: center;
  font-family:'monospace';

}

.connect-button:hover, .connect-button:active {
  background-color: #f05510;
}

.business-name {
  font-weight: bold;
  font-size: 30px;
  color: black;
  font-family: cursive;
  display: inline-grid;
  align-items: center;
  text-align: center;
  margin-top: 5%;
}